form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}
.center {
  text-align: center
}
main {
  padding: 10px
}
header {
  background: #778899;
  height: 25px;
  padding: 10px;
  box-sizing: content-box;
}
header>h5 {
  float: left;
  cursor: pointer;
}
header>h6 {
  float: right;
  cursor: pointer;
}
.block {
  display: block;
  width: 49%;
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
.block:nth-of-type(1){
  float: left;
}
.block:nth-of-type(2){
  float: right;
}
.user-list{
  height: 50px;
}
.view-details-btn,
.add-friend-btn{
  border: 1px solid #ccc;
  background-color: #ccc;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  padding:2px 5px
}
.friend-span{
  font-size: 12px;
  color:green;
}
.modal-header{
  display: inline !important;
}